.promo-organiser{
	color: $color-white;
	&__bg {
		@include retinacoverbg('../img/bg-organizator.jpg', '../img/bg-organizator@2x.jpg');
		z-index: 0;
		position: relative;
		padding-top: 75px;
		padding-bottom: 80px;
	}
	&__headline{
		@include fontsizerel(36);
		text-transform: uppercase;
		line-height: 45px;
		font-weight: 600;
		letter-spacing: 2px;
	}
	&__logo{
		margin-top: 60px;
	}
	&__desc{
		margin-top: 30px;
		margin-left: 130px;
		width: 800px;
		line-height: 31px;
	}

	@media #{$media-mobile} {
		&__desc{
			margin-left: 0;
			width: auto;
		}
	}
}