.main-promo {
	@include retinacoverbg('../img/bg-promo.jpg', '../img/bg-promo@2x.jpg');
	padding-top: 115px;
	text-align: center;
	position: relative;
	top: -170px;
	overflow: hidden;
	width: 100%;
	margin-bottom: -200px;
	&__headline {
		color: $color-white;
		@include fontsizerel(48);
		font-weight: 600;
		margin-top: 170px;
	}
	a#{&}__btn {
		margin-top: 30px;
	}
	&__desc {
		margin-top: 5px;
		@include fontsizerel(21);
		color: $color-white;
		margin-bottom: 20%;
		&-important {
			font-weight: 600;
			display: inline-block;
			margin-bottom: 10px;
			margin-top: 10px;
			line-height: 1;
		}
	}
	&__scroll {
		margin-top: -7%;
		margin-bottom: 7%;
		z-index: 1;
		position: relative;
		&-btn {
			background: $color-accent-text;
			height: 50px;
			width: 50px;
			display: inline-block;
			border-radius: 30px;
			margin-bottom: -10px;
			box-shadow: 0 0 0 10px transparentize($color-accent-text, .6), 0 2px 6px 0 #888;
			transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
			img {
				margin-top: 18px;
				display: inline-block;
			}
			&:hover {
				background: $color-accent-text-alt;
				box-shadow: 0 0 0 10px transparentize($color-accent-text, .3), 0 2px 6px 0 #888;
			}
			&:active {
				background: $color-accent-text;
				box-shadow: 0 0 0 10px transparentize($color-accent-text, .2), 0 2px 6px 0 #888;
			}
		}
	}
	&:before {
		content: '';
		display: block;
		height: 340px;
		left: 0;
		position: absolute;
		right: 0;
		z-index: 0;
		-webkit-backface-visibility: hidden; // for Chrome Windows
		transform: skewY(8.5deg);
		transform-origin: 100%;
		background: $color-white;
		bottom: -335px;
	}

	@media #{$media-mobile} {
		top: 0;
		margin-bottom: 10px;

		&__headline {
			@include fontsizerel(28);
			font-weight: 600;
			margin-top: 80px;
		}

		&__desc {
			line-height: 1;
			&-important {
				font-weight: 600;
				display: inline-block;
				margin-bottom: 20px;
				margin-top: 20px;

				&:before {
					display: none;
				}
			}
		}
	}
}
