<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, minimal-ui, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="imagetoolbar" content="no">
	<meta name="msthemecompatible" content="no">
	<meta name="cleartype" content="no">
	<meta name="HandheldFriendly" content="True">

	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


	<!-- @@include /tmp/_vendor-js.html -->

	<script type="text/javascript" src="./js/blocks.js"></script>
	<script type="text/javascript" src="./js/script.js"></script>

	
	<link rel="stylesheet" href="./css/optimize.css">
	<link rel="stylesheet" href="./css/global.css">

	<!-- @@placeholder= head -->
</head>
<body>

<!-- @@placeholder= content -->

</body>
</html>