<!-- @@master  = default.html -->

<!-- @@block= head -->
<!-- @@placeholder= head -->
<!-- @@close -->

<!-- @@block  =  content -->
<div class="layout" id="up">
	<div class="layout__wrap-content">
		<header class="layout__header">
			<!-- @@include /blocks/header/header__promo.html -->
		</header>

		<main class="layout__content">
			<!-- @@placeholder= inner-content -->
		</main>

		<footer class="layout__footer">
			<!-- @@include /blocks/footer/footer.html -->
			<!-- @@include /blocks/footer-mobile/footer-mobile.html -->
		</footer>
	</div>
</div>
<!-- @@close -->